body {
    #383D58
    }body {
        background-color: #0329ff;
        }<title>Document</title>
        <link rel=”stylesheet” href=”style.css”>body {
            background-color: #383D58;
            color: black;
            }
    